body {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 1em;
	color: #FFF;
	max-width: 70em;
	margin: 1em auto;
	background-attachment:fixed;
	background-size:cover;
}

#Mathe {
		background:url("Mathematics Background.jpg");
}

#Start {
		background:url("StartseiteBackground.jpeg") no-repeat center center;
}

#Musik {
		background:url("Music Violine Background.jpg") no-repeat right top;
}

header {
	position: relative;
	padding: .6em;
	padding-left: 8em;
}

/*allgemeines Design*/
.aD {
	background-color:rgba(0,255,0,0.5);
	color:white;
}

footer.a {
	font-style:normal;

}

header img {
	position: absolute;
	top: -10px;
	left: -25px;
	z-index: 1;
	/* 1/basic fontsize*pixel = em */

	width: 11.8125em;
	height: 11.375em;
}

img {
  width: 20%;
  height: 20%;
}

h1 {
	text-align: center;
	font-size: 3em;
	margin: 0;
}

nav {
	float: top;
	width: 1;
	list-style-type: none;
	padding: 1 em 0 35em 1em;
	margin: .5em;
	z-index: 0;
}

ol		{
	list-style-type: none;
		}

nav li {
	min-width: 8em;
	padding: 0;
	margin: .1em 0 .1em 0;
}

main {
	display: block;
	/* noch fÃ¼r IE 8-11 nÃ¶tig */

	margin: .5em 0;
	margin-left: 0em;
	padding: .1em .5em;
	min-height: 15em;
}

table {
	padding: 1%;
	margin: auto;
	text-align: right;
	}

table.musik {
	border: 1px solid;
	padding: 1%;
	margin: 0;
	}

td.musik	{
	border: 1px solid;
	padding: 7px;
	font-size: large;
	}

td	{
	padding: 7px;
	font-size: large;
	}

td.border1 {
	border-bottom: solid;
	}

td.border2 {
	border-bottom: double thick;
	}

input {
       	text-align: right;
       	font-size: small;
       	}

input:required {
      color: red;
    }

input:required:valid {
      color: green;
    }

article {
	border-style: solid;
	margin: 2%;
	}

footer {

	margin: .5em 0;
	padding: .5em;
}

a {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	background-color:rgba(0,255,0,0);
}

nav a {
	display: inline;
	text-decoration: none;
	padding: .5em .4em;
	margin-right:20em;
}

nav a:focus {
	background: #580E0E;
	color: #BAB58C;
}

nav a:hover {
	background: gba(0,255,0,0.5);
	color: #BAB58C;

}

nav a:active,
a.active {
	background: #580E0E;
	color: #BAB58C;
}

footer span {
	display: block;
}
