.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 50px;
  background-color: rgba(0,0,0, 0.5);
	font-size: 1.3em;
	max-height: 2.5em;
	padding: 0.3em;
	float:left;

}

.mathe>h1 {
	color:black;
	font-size:2em;
}

.fixed-nav-bar .nav-start {
	position: fixed;
  top: 1em;
  left: 2em;
	display: inline-block;

}

.fixed-nav-bar .nav-mu {
	position: fixed;
  top: 1em;
  right: 2em;
	display: inline;

}

.fixed-nav-bar .nav-ma {
	position: fixed;
  top: 1em;
  right: 50%;
	display: inline;

}

.fixed-nav-bar li {
	margin-left: 2em;
	margin-right: 2em;
	display: inline-block;

}

.fixed-nav-bar .nav-ma ul {
	position: fixed;
  top: 1.8em;
  right: 45%;
	display: inline;

}


.logo-nav {
	display: inline;
	position: fixed;
  top: 0.25em;
  left: 0.5em;
	width: 2.5em;
	height: 2.5em;
	border-style: solid;
	border-width: 1px;
	border-radius: 100%;
	border-color: rgba(255,255,255,0);

}

.fixed-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
	background-color: rgba(0,0,0, 0.5);
	font-size: 0.7em;
	text-align: right;
}

body {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 1em;
	color: #FFF;
	max-width: 70em;
	margin: 1em auto;
	background-attachment:scroll;
	background-size:cover;
	z-index:-1000;
}

#logostart {
	display: block;
	position: relative;
	width: 40%;
	height: 40%;
	margin: auto;
}

#logoback {
	min-height: 0em;
}

#Mathe {
		background:url("Mathematics Background2.jpg") no-repeat top center;
      background-attachment:scroll;
      z-index: -9999;
}

#Start {
		background:url("StartseiteBackground.jpeg") no-repeat top center;
		background-attachment:scroll;
		background-size:cover; /*hintergrund ist nun starr*/
    z-index: -9999;
}

#Musik {
		background:url("Music Violine Background2.jpg") no-repeat right top;
		background-attachment:scroll;
		background-size:cover; /*hintergrund ist nun starr*/
        z-index: -9999;
}

.mathe {
	padding-right:15em;
	position:absolute;
	width:50em;
	height:47em;
	color:white;
}

header {
	position: relative;
	padding: 2em;
	padding-left: 2em;
	z-index:1000;
}

/*#LB {
	font-size:15em;
}

#StartH {
	margin: .5em 0;
	padding: .5em;
	height: 2em;
}

#StartN {
	color:white;
	display: inline;
}*/

.content {
	position: relative;
	background-color:hsla(122, 100%, 25%, 0.7);
	/*display: inline;*/
	top: 4em;
	bottom: 4em;
	max-width: 70em;
  min-height: 30em;
	margin: 1em auto;
	padding: .1em .5em; /*bearbeitung des mainfensters mit logo*/
}

.contentMathe {
	top: 4em;
	bottom: 4em;
	max-width: 70em;
	margin: 1em auto;
	padding: .1em .5em;
} /*Maininhalt wird durch Klasse Mathe mit einer Tafel als Hintergrund versehen*/


h1 {
	text-align: center;
	font-size: 3em;
	margin: 0.5em;
	font-family: Cooper Black, Tahoma;
}

/* Unternavigation ausblenden */

nav ul li ul {
	font: 0/0 serif;
	/*margin: 0;*/
	padding: .3em;
	margin: .3em;/*Rand im untermenü*/
	position: absolute; /*damit "Mathe" an der gleichen Position bleibt*/
	/*top: 2em;*/
	min-width: 14em;
	min-height: 5em;
	max-width: 14em;
	/*um die größe des Untermenüs einzuschränken*/
}

nav ul li:hover ul, nav ul li:focus ul {
	font: inherit;
  position: static;
	background-color:rgba(0,0,0,0.5);
}

nav ul ul li {
	display: block;
	float: none;
	font-size: 0.7em;
}

nav a, nav span {
	display: block;
	text-align: center;
	text-decoration: none;
	/*padding: .5em .4em;*/
	margin-right: auto 1em;
}

nav a:hover, footer a:hover {
	color: #AEFFAD;
}

nav a:active, a.active, nav a:focus, footer a:focus {
	color: #BAB58C;
}

table {
	padding: 1%;
	margin: auto;
	text-align: right;
	}

table.musik {
	border: 1px solid;
	padding: 1%;
	margin: 0;
	}

article{
	padding-right:15em;
	position:absolute;
	/*background-color:hsla(122, 100%, 25%, 1);*/
	background:url("blackboard.jpg") no-repeat center center;
	width:50em;
	height:47em;
	/*z-index:-1;*/
}

.element1{
      z-index:1;
	  }

.z-index{
	z-index:-100;
}

td.musik	{
	border: 1px solid;
	padding: 7px;
	font-size: large;
	}

td	{
	padding: 7px;
	font-size: large;
	}

td.border1 {
	border-bottom: solid;
	}

td.border2 {
	border-bottom: double thick;
	}

input {
       	text-align: right;
       	font-size: small;
       	}

article {
	border-style: solid;
	margin: 2%;
	}

footer {

	margin: .5em 0;
	padding: .5em;
}

a {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	background-color:hsla(122, 100%, 25%, 0);
}

footer span {
	display: block;
}
